@import './Mixins';
@import "./Variables.scss";



.btnUnit {  
  position: fixed;
  top: 50%;
  border-radius: 5%;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 2.5em; 
  padding: .4em;
  background-color: $primary-color-button;
  border: 2px solid $primary-color-button;
  z-index: -100;
  color: white;
  width: 80vw;
  cursor: pointer;

  &:hover {
    background-color:  #e94545;
  }
}


.FirstFooter {
  display: flex;
  font-size: 15px;
  position: absolute;
  top: 85%;
}
.a-write-to-us {
  
  margin-left: 1em;
  text-decoration: none;
 
  color: blue;
}
.li-write-to-us {
  list-style-type: none;
}
footer {
  @include display-flex();

  position: absolute;
  top: 90%;
  width: 100vw;
  padding: 1.6rem;
  color:white;
  background-color: $primary-color-button;
  font-size: .8em;
}



@media (orientation: portrait) {
 .btnUnit {
  top: 55%;
 }
}
@media (min-width: 1200px) {
  .btnUnit {
    top: 55%;
  }
}