
@mixin display-flex(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

@mixin quizBtnView() {
  width: 60%;
  height: 4em;
  font-size: 20px;
  border: none;
  border-radius: 5%;
  background-color: #ba191a;
  color: white;
  margin-top: 15%;

  &:hover {
    background-color: #eb4b4b;
  }
}