$progress-bar-color: linear-gradient(90deg, rgba(185,25,25,1) 0%, rgba(185,25,25,1) 10%, rgba(220,45,45,1) 20%, rgba(220,45,45,1) 30%, rgba(255,62,62,1) 40%, rgba(255,62,62,1) 50%, rgba(255,110,110,1) 60%, rgba(255,161,161,1) 70%, rgba(255,161,161,1) 80%, rgba(255,197,197,1) 90%, rgba(255,197,197,1) 100%);


body {
  overflow-x: hidden;
}
.SecondContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.navigation {
  width: 100vw;
  height: 10vh;
  background-color: rgba(186,25,26,255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgArrow {
  width: 60px;
  height: 60px;
  margin-left: .5em;
}

.unith1Id {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: 2em;

}

.skrytkaImage {
  padding: 2em;
  width: 140px;
  height: 140px;
}
@media (max-width: 600px) {
  .unith1Id {
    margin-left: 25px;
    font-size: 32px;
  }
  
}
@media (max-width: 370px) {
  .unith1Id {
    margin-left: 30px;
  }
}
@media (max-width: 400px) {
  .unith1Id {
    margin-left: 30px;
  }
}
@media (max-width: 500px) {
  .unith1Id {
    margin-left: 75px;
  }
}



.a-write-to-us-1 {
  width: 100vw;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #1f5bb5;
  padding-top: 1em;
  padding-bottom: 1em;
  &:hover {
    color: #709bdb;
  }
}


.containerTrack {

  min-height: 78vh;

  width: 100vw;
  
  .chooseCarH2 {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .chooseCarH2 {
    margin-top: 2%;
  }
    .boxTrack {
      margin-top: 2%;
    }
}


.footerSecondSite {

  width: 100vw;
  padding-top: 2em;
  padding-bottom: 2em;
 
  color:white;
  text-align: center;
  background-color: $primary-color-button;
  font-size: .8em;
}


.skryka-date {

  text-align: center;
}


.containerTrack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.boxTrack {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  width: 80vw;
  border-radius: 1em;

  &:hover {
    background-color: rgb(235, 218, 218);
  }
  
//   transform:
//     scale(0.9)
//     rotateY(-20deg)
//     rotateX(35deg)
//     translateZ(2.5rem);
//   transform-origin: 50% 100%;
//   transform-style: preserve-3d;
//   box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
//   transition: .6s ease transform;


// &:hover {
//   transform: scale(1);
// }

// &::before {
//   transform: translateZ(4rem);
//   &:hover {
//     transform: translateZ(0);
//   }
// }

// &::after {
//   transform: translateZ(-4rem);
//   &:hover {
//     transform: translateZ(-1px);
//   }
// }
}



.informationAboutTrack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
 
}


.imageFireTrack {
  width: 170px;
  height: 80px;
  
}



.progress {
  border: none;
  width: 200px;
  height: 40px;

}




progress::-moz-progress-bar {
  background: $progress-bar-color;
}

progress::-webkit-progress-value {
  background: $progress-bar-color;
}

progress::-webkit-progress-bar {
  background: rgba(213,194,194,1);
}



.ScoringValueTrack {
  display: flex;
  justify-content: space-between;
}

.fa-solid {
  color: rgb(171, 19, 19);

  font-size: 80px;

  &:hover {
    transform: scale(1.2);
  }
}



@media (max-width: 600px) {
  .imageFireTrack {
    width: 150px;
    height: 70px;
  }
  .progress {
    width: 100px;
    height: 30px;
  }
  .ScoringValueTrack {
    font-size: 16px;
  }

  .TrackName {
    font-size: 20px;
  }
  .skrytkaImage {
    height: 124px;
  }
}

@media (min-width: 800px) {
    .imageFireTrack {
      width: 230px;
      height: 100px;
    }


}
@media (min-width: 1000px) {
  .imageFireTrack {
    width: 270px;
    height: 140px;
  }

}
@media (min-width: 1300px) {
  .imageFireTrack {
    width: 300px;
    height: 180px;
  }
}