* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya', serif;
}


body {
  font-family: "Roboto", sans-serif;
  background: #f7f6ff;
 
}

h2 {
  margin: 16px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin-top: 2rem;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {

  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  font-size: 20px;
  order: 0;
}

.selected::after {
  content: "";
  background: url("../public/img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  z-index: 100;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.logo {
  width: 300px;
  height: 200px;

  margin-bottom: 5%;

}



.welcome {
  letter-spacing: 4px;
  font-size: 55px;
  font-weight: bolder;
}


.FirstFooter {
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 85%;
}
.a-write-to-us {
  
  margin-left: 1em;
  text-decoration: none;
 
  color: blue;
}
.li-write-to-us {
  list-style-type: none;
}
footer {
  position: absolute;
  top: 90%;
  width: 100vw;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  background-color: #2f3640;
  font-size: 1.2em;
}
/* top do zmienania na wyższe ekrany */
.btnUnit {  
  position: fixed;
  top: 50%;
  border-radius: 5%;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 1em;
  padding: .4em;
  background-color: #2f3640;
  z-index: -100;
  color: white;
  width: 400px;
  cursor: pointer;
}
@media (orientation: portrait) {
 .btnUnit {
  top: 55%;
 }
}
@media (min-width: 1200px) {
  .btnUnit {
    top: 55%;
  }
}



.btnUnit:hover {
  background-color: #282a2e;
}

.logoImage {
  content: "";
  background: url("../public/img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}
/* .inputSearch {
  width: 100vw;
  padding: 1em;
  margin-left: 0;

} */